<div class="container">
    <h2>Carrito</h2>
    <table class="table">
        <thead>
            {{!-- <th>Id</th> --}}
            <th>Titulo</th>
            <th>Descripcion</th>
            <th>Precio</th>
            <th>cantidad</th>
            
            </tr>
        </thead>
        <tbody>
            {{#each products}}
            <tr>
                {{!-- <td>{{this._id}}</td> --}}
                <td>{{this.product.title}}</td>
                <td>{{this.product.description}}</td>
                <td>${{this.product.price}}</td>
                <td>      {{this.quantity}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>
<br/>  