<div class="container">
  <div>
    <h1>Bienvenido {{user.usuario.nombre}}</h1>
    <p>Role:{{user.usuario.rol}}</p>
    <p>{{user.email}}</p>
    <button id="logout-btn" name="logout-btn">Salir</button>
    <a id="cart-btn" name="cart-btn" href="http://localhost:8080/carts/{{user.usuario.cart}}">Carrito</a>
    <button id="premium-btn" onclick="toPremium('{{user.usuario.id}}')">Hacerme  premium</button>
</div>

{{#if products.docs.length}}
<div class="container">
  <table class="table">
    <thead>
        <th>Titulo</th>
        <th>Marca</th>
        {{!-- <th>Descripcion</th> --}}
        <th>Precio</th>
        <th>Stock</th>
        <th>Owner</th>
      </tr>
    </thead>
    <tbody>
      {{#each products.docs}}
        <tr>
          <td><a href="products/{{this.id}}">{{this.title}}</a></td>
          <td>{{this.category}}</td>
          {{!-- <td>{{this.description}}</td> --}}
          <td>${{this.price}}</td>
          <td>{{this.stock}}</td>
          <td>{{this.owner}}</td>            
        </tr>
      {{/each}}
    </tbody>
  </table>
</div>

<br/>
<div class="paginate">
    {{#if products.hasPrevPage}}
        <a href={{products.prevLink}}><< Anterior</a>
    {{/if}}
    &nbsp;
    {{products.page}}
    &nbsp;
    {{#if products.hasNextPage}}
        <a href={{products.nextLink}}>Siguiente >></a>
    {{/if}} 
</div>
{{else}}
<h1>No hay productos para mostrar</h1>
{{/if}}

<script src="/js/products.js"></script>

<script>
   let logoutButton = document.getElementById("logout-btn")
  function toPremium(id){
    console.log(id)
  }
  logoutButton.addEventListener("click", (evt) => {
    fetch('http://localhost:8080/sessions/logout', {method: 'POST'})
    .then( res => {
      return window.location.replace('/login')
    })
  })
  
  async function toPremium(id){
    await fetch(`http://localhost:8080/sessions/premium/${id}`, {method: 'POST'})
    await fetch('http://localhost:8080/sessions/logout', {method: 'POST'})
    .then( res => {
      return window.location.replace('/login')
    })
  }

</script>
