<div class="container">
  <div>
    <h1>Bienvenido {{user.usuario.rol}}{{user.usuario.cart}}</h1>
    <p>{{user.usuario.nombre}}</p>
    <p>{{user.email}}</p>
    <p>{{user.usuario.age}}</p>
    <button id="logout-btn" name="logout-btn">Salir</button>
    <a id="cart-btn" name="cart-btn" href="http://localhost:8080/carts/{{user.usuario.cart}}">Carrito</a>
</div>

{{#if products.docs.length}}
<div class="container">
  <table class="table">
    <thead>
        <th>Titulo</th>
        <th>Marca</th>
        <th>Descripcion</th>
        <th>Precio</th>
        <th>Codigo</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {{#each products.docs}}
        <tr>
          <td>{{this.title}}</td>
          <td>{{this.category}}</td>
          <td>{{this.description}}</td>
          <td>${{this.price}}</td>
          <td>{{this.code}}</td>            
          <td>
          <a href="products/{{this.id}}">Ver Mas</a> 
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</div>

<br/>
<div class="paginate">
    {{#if products.hasPrevPage}}
        <a href={{products.prevLink}}><< Anterior</a>
    {{/if}}
    &nbsp;
    {{products.page}}
    &nbsp;
    {{#if products.hasNextPage}}
        <a href={{products.nextLink}}>Siguiente >></a>
    {{/if}} 
</div>
{{else}}
<h1>No hay productos para mostrar</h1>
{{/if}}

<script src="/js/products.js"></script>

<script>
   let logoutButton = document.getElementById("logout-btn")

  logoutButton.addEventListener("click", (evt) => {
    fetch('http://localhost:8080/sessions/logout', {method: 'post'})
    .then( res => {
      return window.location.replace('/login')
    })
  })

</script>