<nav>
    <div class="logo">Your Ecommerce</div>
    <ul class="nav-links">
        <li><a href="/views/products">Home</a></li>
        <li><a href="#">About Us</a></li>
        <li><a href="/views/carts/{{user.usuario.cart}}">Cart</a></li>
        <li><a href="#">Contact Us</a></li>
    </ul>
    <div>
        <button id="premium-btn" onclick="toPremium('{{user.usuario.id}}')">
            {{#if premium}}
            Stop being premium
            {{else}}Become premium
            {{/if}}
        </button>
    <button id="logout-btn" onclick="logout()">Log out</button>
    </div>
            
</nav>
<div class="container">
  <div>
    <h1>Welcome {{user.usuario.nombre}}</h1>
    <p>Role:{{user.usuario.rol}}</p>

<button class="btn" href="/apidocs">See documentation</button>
</div>

{{#if products.docs.length}}
<div class="ProductsContainer">
      {{#each products.docs}}
        <div class="cardContainer">
          
          <img src="{{this.image}}" class="card-img" alt="{{this.title}}"></img>
          <div class="card-body">
            <a href="products/{{this.id}}">
            <h3 class="card-title">{{this.title}}</h3>
            <h3 class="card-price">${{this.price}}</h3>
          </div>
          </a>
        </div>  
        
      {{/each}}
</div>

<div class="paginate">
    {{#if products.hasPrevPage}}
        <a href={{products.prevLink}}><<</a>
    {{/if}} 
    &nbsp;
    {{products.page}}
    &nbsp;
    {{#if products.hasNextPage}}
        <a href={{products.nextLink}}> >></a>
    {{/if}} 
</div>
{{else}}
<h1>No products to show</h1>
{{/if}}

<script src="/js/nav.js"></script>


