<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<nav>
    <div class="logo">Your Ecommerce</div>
    <ul class="nav-links">
        <li><a href="/views/products">Home</a></li>
        <li><a href="#">About Us</a></li>
        <li><a href="/views/carts/{{user.usuario.cart}}">Cart</a></li>
        <li><a href="#">Contact Us</a></li>
    </ul>
    <div>
        <button id="premium-btn" onclick="toPremium('{{user.usuario.id}}')">
            {{#if premium}}
            Stop being premium
            {{else}}Become premium
            {{/if}}
        </button>
    <button id="logout-btn" onclick="logout()">Log out</button>
    </div>
            
</nav>
<section class="product-detail">
  <header class="product-header">
    <h1>{{product.title}} - {{product.category}}</h1>
  </header>
  
  <div class="product-info">
    <img src="{{this.image}}" class="productD-image" alt="{{this.title}}">
    <p class="productD-description">{{product.description}}</p>
    <dl>
      <h4 class="productD-price">Price: ${{product.price}}</h4>
      
      
      <h4 class="productD-stock">Stock: {{product.stock}}</h4>
      
      <h4 class="productD-owner">Owner: {{product.owner}}</h4>
    </dl>
    <button class="btn" id="addtocart" data-id="{{product._id}}" cart_id="{{user.cart}}">Agregar al Carrito</button>
  </div>
</section>



<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/js/nav.js"></script>
<script src="/js/products.js">const cart = {{cart}}</script>

