<div class="container">
  <h2>Detalle del Producto {{product.title}} - {{product.category}}</h2>
  <table class="table">
    <thead>
      <th>Descripcion</th>
      <th>Precio</th>
      <th>stock</th>
      <th>Owner</th>
      <th></th>
    </thead>
    <tbody>
      <tr>
        <td>{{product.description}}</td>
        <td>${{product.price}}</td>
        <td>{{product.stock}}</td>
        <td>{{product.owner}}</td>
        <td>
         <button data-id="{{product._id}}" cart_id="{{user.cart}}" id="addtocart">Agregar al Carrito</button>
                  
        </td>
      </tr>
    </tbody>
  </table>
</div>

<script>

</script>

<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/js/products.js"></script>


