<nav>
    <div class="logo">Your Ecommerce</div>
    <ul class="nav-links">
        <li><a href="/views/products">Home</a></li>
        <li><a href="#">About Us</a></li>
        <li><a href="/views/carts/{{user.usuario.cart}}">Cart</a></li>
        <li><a href="#">Contact Us</a></li>
    </ul>
    <div>
        <button id="premium-btn" onclick="toPremium('{{user.usuario.id}}')">
            {{#if premium}}
            Stop being premium
            {{else}}Become premium
            {{/if}}
        </button>
    <button id="logout-btn" onclick="logout()">Log out</button>
    </div>
            
</nav>
<div class="container">
    <h2>tickets from {{user.email}}</h2>
    {{#each ticket}}
    
    <table class="table">
        <thead>
            <th>Codigo de seguimiento</th>
            <th>Total</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{this.code}} </td>
                <td>${{this.amount}} </td>     
        </tbody>
        
        <thead>
            <th> Productos     ID</th>
            <th>Cantidad</th>
            </tr>
        </thead>
        <tbody>
               {{#each products}}
               <tr>
                    <td>{{this.productId}}</td>
                     <td>{{this.quantity}}</td>
               </tr>
                {{/each}} 
        </tbody>
    </table>
    <br>
    <br>
    {{/each}}
</div>
<br/>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/js/nav.js"></script>